name: Daily Platinum Stock Update

on:
  schedule:
    - cron: '0 22 * * 1-5'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pandas requests xlrd openpyxl lxml

      - name: Run script
        run: python main.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # 파일이 생겼는지 강제로 확인하고 추가
          git add platinum_daily_stock.csv || echo "파일이 없습니다."
          
          # 변경사항이 있을 때만 커밋하고 푸시
          if git diff --staged --quiet; then
            echo "업데이트할 내용이 없습니다."
          else
            git commit -m "Add/Update daily platinum stock data"
            git push
          fi
